@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

body {
  background: #ffffff;
  /* background: linear-gradient(90deg, #e6f3fa 0%, #b3e5fc 0%, #e3f2fd 0%, #ffd1dc 100%);
  background-blend-mode:normal; */
}
